.card {
  width: 330px;
  height: 200px;
  margin: 10px;
  form {
    height: 100%;
  }
  &__content {
    display: flex;
    height: 100%;
  }
  &__option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .span-left .span.rigth {
      margin: 3px;
    }
  }
}
