.card {
  margin: 10px;
  width: 330px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    font-weight: bold;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
